<!DOCTYPE html>

<html >
<head>
    <meta charset="utf-8">
    <title>Movie Ticket Order page - Welcome and choose a Movie</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Movie Ticket Shop App</h1>
</header>
<main>
    <form th:method="get" th:action="@{/}">
        <input type="hidden" name="formType" value="form1">
        <input name="searchText" placeholder="Type a keyword" value="">
        <input type="number" name="searchRating" min="1" max="10" value="1">

        <input type="submit" value="Search">
    </form>
    <h2>Choose a movie:</h2>
    <form th:action="@{/ticketOrder}" th:method="post">
        <input type="hidden" name="formType" value="form2">
        <div th:each="movie : ${movies}">
            <input name="selectedMovie" type="radio" th:value="${movie.getTitle()}" th:id="${movie.getTitle()}">
            <label th:for="${movie.getTitle()}" th:text="'Title: '+${movie.getTitle()}+', Summary: '+ ${movie.getSummary()}+ ', Rating: ' + ${movie.getRating()}
             + ', Production: '+ ${movie.getProduction().name} "> </label>
                <a th:href="@{/movies/delete/{id} (id=${movie.getId()})}" class="btn btn-sm btn-danger delete-movie">
                <i class="fa fa-trash">Delete</i></a>
            <a th:href="@{/movies/edit-form/{id} (id=${movie.getId()})}" class="btn btn-sm btn-info edit-movie"><i class="fa fa-edit">Edit</i> </a>
        </div>
        <br>

       <label for="name">Choose User </label>
        <select id="name" name="name" th:each="user : ${users}">
            <option th:text="${user.getName()}" th:value="${user.getId()}"></option>
        </select>
<!--        <input id="name" type="text" name="name" required>-->
        <h2>Choose number of tickets:</h2>
        <input type="number" name="numTickets" min="1" max="10" required><br/><br/>
        <input type="datetime-local" name="dateCreation"/>
        <input type="submit" value="Order">
    </form>
    <h1 th:text="(${hasError}== true ? ${error}: '')"></h1>
    <div>
        <a th:href="@{/movies/add-form}" class="btn btn-sm btn-success">
            <i class="fa fa-plus">Add new movie</i>
        </a>
    </div>
</main>
</body>
</html>