<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Ordered Ticket - Confirmation</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
    </style>
</head>
<body>
<section>
    <header>
        <h1>Movie Order page - Order confirmation </h1>
    </header>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
            <td th:text="${name.getName()}"></td>
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
            <td th:text="${address}"></td>
        </tr>
        <tr>
            <td><b>Ticket for Movie</b></td>
            <td th:text="${selectedMovie}">Oppenheimer</td>
        </tr>
        <tr>
            <td><b>Number of tickets</b></td>
            <td th:text="${numTickets}">2</td>
        </tr>
        <tr>
            <td><b>Date of creation</b></td>
            <td th:text="${dateCreation}"></td>
        </tr>
    </table>
        <form method="post" th:action="@{/ticketOrder/editOrder}">
            <input type="hidden" name="name" th:value="${name}" />
            <input type="hidden" name="address" th:value="${address}" />
            <input type="hidden" name="selectedMovie" th:value="${selectedMovie}" />
            <input type="hidden" name="numTickets" th:value="${numTickets}" />
            <input type="hidden" name="dateCreation" th:value="${dateCreation}" />

            <button value="orderedit" type="submit">Edit</button>

        </form>

</section>
</body>
</html>